body {
  margin: 0;
  
  font-family: 'Hind Siliguri';font-size: 22px;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-container{
  padding:0;

}

.delete-icon-button{
  display: inline-flex; /* keep the inline nature of buttons */
    align-items: flex-start; /* this is default */

}
