body {
  margin: 0;
  
  font-family: 'Hind Siliguri';font-size: 22px;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-container{
  padding:0;

}

.delete-icon-button{
  display: inline-flex; /* keep the inline nature of buttons */
    align-items: flex-start; /* this is default */

}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.cont-pad {
  padding-top: 40px;

}

.empty-todo{
  display:inline-block;
  margin:auto;
  
  
  text-align:"center"

}
/*
.btn-success{
  background-color:#3DDED1;
  color:black;
}

.btn-success:hover{
  background-color:#00C0B2;
  color:white;
}

.btn-success:focus{
  background-color:#00C0B2;
  color:white;
}
*/

.back{
  box-shadow: 0 0px 10px 2px #ddd;
}

.custom-stuff{
  font-size: 15px;
}

.sidenav {

  
  z-index: 1;

 
  overflow-x: hidden;
  
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  border-bottom: 0.5px solid lightgrey;
}

.list-create{
  padding: 6px 6px 6px 32px;
  font-size: 20px; 

}



.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


